/* Custom styles for the new elements */
.post-section {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Scoped CSS for custom multi-select */
#category-select.form-select {
    height: auto;
    min-height: 150px;
    overflow-y: auto;
}

#category-select.form-select option {
    padding: 10px;
}

/* To enhance visibility of selected options */
#category-select.form-select option:checked {
    background-color: #0d6efd;
    color: #fff;
}

.form-control {
    border: none;
}