html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}

header {
    padding: 5%;
}

/* Center Image/Text Styling */
.navbar-center {
    text-align: center;
}

.navbar-center-image {
    max-height: 50px;
}

.navbar-center-text {
    font-size: 18px;
    font-weight: bold;
}

/* Profile Dropdown Styling */
.profile-dropdown {
    margin-left: auto;
}

.profile-dropdown img {
    cursor: pointer;
}

/* Additional dropdown-menu styling to prevent conflicts */
.dropdown-menu-right {
    right: 0;
    left: auto;
}

/* Ensure that only the new elements are affected */
header>.navbar-center,
header>.profile-dropdown {
    display: flex;
    align-items: center;
}


.post-container {
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post-title {
    margin-bottom: 15px;
}

.post-content {
    font-size: 1.2em;
}

.comments-section {
    margin-top: 30px;
}

.comment {
    margin-bottom: 15px;
}